.card{
    width: 275px;
}
.card-body{
    text-align: center;
    color: #0d0c0a;
    font-size: 17px;
    line-height: 28px;


}
.card-img-top{
    height: 164px;
    width: 164px;
    display: block;
    margin: 30px auto;
}
.header{
    font-size: 26px;
    line-height: 21px;
    color: #070500;
    padding: 25px 0px 15px 0px;
    display: inline-block;
}