.container {
	position: relative;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	z-index: 5;
}
.title {
	text-align:center;
	padding-bottom: 60px;
 

}
.black {
	font-weight: 500;
	color:#070500;
}
.about_box{
    margin-top: 20%;
}
.about-img{
    margin-top: 0;
}