.container {
	position: relative;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	z-index: 5;
}
.title {
	text-align:center;
	padding-bottom: 60px;
 

}
.logo {
    max-width: 100%;
}
.black {
	font-weight: 500;
	color:#070500;
}
.about_box{
    margin-top: 0%;
}
.about-img{
	margin: 20% 20%;
	height: 500px;
   width: 900px;
}
.row{
	justify-content: center;
	align-items: center;
	font-size: larger;
	font-weight: 500;
	text-shadow: #070500;
}